.hero, footer {
    background-color: #1F2937;
}

.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-right: 150px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 400px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;

}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext, .header-link-container, a {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button, .action-button {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #3882F6;
    width: 70px;
    color: white;
}

.signup-button {
    margin-top: 5px;
}

.hero-image {
    width: 400px;
    height: 250px;
}

.hero-text-container {
    justify-content: left;
    width: 450px;
}

.information-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 20px;
}

.information-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-right: 200px;
    
}

.info-image {
    border-radius: 25px;
    border: solid 2px #3882F6;
    width: 150px;
    height: 150px;
    justify-self: center;
}

.info-image-subtext {
    display: flex;
    justify-content: center;
    color: #1F2937;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}

.quote {
    font: 35px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    color: #1F2937;
}

.action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-top: 75px;
    margin-left: 100px;
    margin-bottom: 75px;
    margin-right: 100px;
    background: #3882F6;
    color: white;
}

.action-subtext {
    color: #E5E7EB;
}

.action-text-container {

}

.action-button {
    border: solid 1px white;
    width: 75px;
}

footer {
    text-align: center;
    height: 20px;
    color: white;
}