<<<<<<< HEAD
.hero, footer {
    background-color: #1F2937;
}

=======
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: solid 10px red;
<<<<<<< HEAD
    margin-left: 150px;
    margin-right: 150px;
    
=======
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

.header-logo {
    border: solid 10px orange;
<<<<<<< HEAD
    font-size: 24px;
    color: #F9FAF8;
=======
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

.header-link-container {
    border: solid 10px yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    list-style: none;
    width: 300px;  
=======
    list-style: none;  
}

.hero-text {
    border: solid 10px green;
}

.hero-subtext {
    border: solid 10px indigo;
}

.signup-button {
    border: solid 10px violet;
}

.hero-image {
    border: solid 10px blue;
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

.hero-container {
    border: solid 10px violet;
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;

}

.hero-text {
    border: solid 10px green;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext, .header-link-container {
    border: solid 10px indigo;
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    border: solid 10px violet;
    background-color: #3882F6;
    width: max-content;
    color: white;
}

.hero-image {
    border: solid 10px blue;
    width: 400px;
}



.hero-text-container {
    justify-content: left;
    border: solid 10px red;
    width: 450px;
=======
    justify-content: space-around;
}

.hero-text-container {
    justify-content: left;
    border: solid 10px red;
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

.information-title {
    display: flex;
    border: solid 10px pink;
    justify-content: center;
<<<<<<< HEAD
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information-image-container {
    border: solid 10px blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 200px;
    margin: 100px;
    margin-right: 200px;
    
}

.info-image {
    border: solid 2px #3882F6;
    height: 150px;
    width: 150px;
}

.info-image-subtext {
    border: solid 5px red;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
=======
}

.information-image-container {
    display: flex;
    justify-content: space-around;
}

.info-image, .info-image-subtext {
    border: solid 10px brown;
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

.quote-container {
    border: solid 10px aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    height: 200px;
    width: 500px;
}

.quote {
    font: 35px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    border: solid 5px red;
    align-self: flex-end;
    font-weight: bold;
=======
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

.action-container {
    border:solid 10px black;
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-top: 75px;
    margin-left: 100px;
    margin-bottom: 75px;
    margin-right: 100px;
    background: #3882F6;
    color: white;
}

.action-subtext {
    color: #E5E7EB;
}

.action-text-container {

=======
    justify-content: center;
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}

footer {
    text-align: center;
<<<<<<< HEAD
    height: 20px;
    color: white;
=======
>>>>>>> 667d11208002aa0065d3d44c632a9e48c9790ab8
}